{% extends 'base.html' %}

{% block titulo %}
    Favoritos
{% endblock %}

{% block conteudo %}

<h1>Favoritos</h1>

<div class="grid-2col">

    <div class="card">

        <h2>Produtos</h2>

        {% for produto in produtos %}

            <div class="produto-item">

                <div>

                    <strong>
                        {{ produto.nome }}
                    </strong>

                    <br>

                    R$ {{ "%.2f"|format(produto.preco) }}

                </div>

                <a href="{{ url_for('adicionar_aos_favoritos', produto_id=produto.id) }}"
                   class="btn btn-blue">

                    Favoritar

                </a>

            </div>

        {% endfor %}

    </div>


    <div class="card">

        <h2>Seus favoritos</h2>

        {% if favoritos %}

            {% for item in favoritos %}

                <div class="produto-item">

                    <div>

                        <strong>
                            {{ item.nome }}
                        </strong>

                        <br>

                        R$ {{ "%.2f"|format(item.preco) }}

                    </div>

                    <a href="{{ url_for('remover_dos_favoritos', produto_id=item.id) }}"
                       class="btn btn-red">

                        Remover

                    </a>

                </div>

            {% endfor %}

            <hr>

            <a href="{{ url_for('limpar_favoritos') }}"
               class="btn btn-amber">

                Limpar favoritos

            </a>

        {% else %}

            <p>Nenhum item nos favoritos.</p>

        {% endif %}

    </div>

</div>

{% endblock %}